.myCustomFrame_CSK_Module_MultiHTTPClient {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 6px;
}

.myCustomMarginTop2px_CSK_Module_MultiHTTPClient {
  margin-top: 2px;
}

.myCustomMarginTop16px_CSK_Module_MultiHTTPClient {
  margin-top: 16px;
}